<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>blogDetails</title>
    <style>
      .form-control {
        background: transparent;
        border: none;
        border-bottom: 2px solid black;
        box-shadow: none;
        border-radius: 0px;
      }
      .form-control:focus {
        background: transparent;
        border: none;   
        border-bottom: 2px solid rgb(64, 23, 226);
        box-shadow: none;
        border-radius: 0px;
      }
    </style>
  </head>
  <body style="background-color: #dfdccf">
    <%- include('./partials/nav') %>

    <div class="container mt-3">
      <h1><%= locals.bloginfo.blogtitle %></h1>
      <img src="<%= locals.bloginfo.blogImageURL %>" width="40%" alt="img" />
      <p class="mt-3"><%= locals.bloginfo.blogbody %></p>
    </div>
    <div class="container mt-3">
      <h3>Written By :</h3>
      <img
        src="<%= locals.bloginfo.createdBy.profileImageURL %>"
        alt="img"
        style="height: 2rem; width: 2rem; border-radius: 2rem; margin-right: 1rem;"
      /><%= locals.bloginfo.createdBy.fullName %>
    </div>

    <div class="container mt-3">
      <h1>Comments (<%= commentInfo.length %>)</h1>
      <% if (locals.user) { %>
      <form action="/blog/comment/<%= locals.bloginfo._id %>" method="post">
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            name="commentBody"
            aria-describedby="emailHelp"
            placeholder="Write Your Comment "
          />
          <button type="submit" class="btn btn-sm btn-primary mt-2">
            Submit
          </button>
        </div>
      </form>
      <% } %> <% commentInfo.forEach(comment => { %>
      <div class="mt-3">
        <img
          src="<%= comment.commentedBy.profileImageURL %>"
          style="height: 2rem; width: 2rem; border-radius: 2rem; margin-right: 1rem;"
          alt="img"
        /><%= comment.commentedBy.fullName %>
        <% if (locals.user && (locals.user._id==comment.commentedBy._id)) { %>
                <a
                  href="/blog/commentdelete/<%=comment._id%>"
                  ><img src="/images/deletelogo.jpg" alt="img" style="background: transparent; height: 1rem; width: 1rem; border-radius: 3rem; margin-left: 5px;" /></a
                >
              <% } %>
        <pre class="mt-3"><%= comment.commentBody %></pre>
        <hr class="bg-white">
      </div>
      <% }) %>
    </div>

    <%- include('./partials/footer') %> <%- include('./partials/script') %>
  </body>
</html>
