<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>blogDetails</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container mt-3">
      <h1><%= locals.bloginfo.blogtitle %></h1>
      <img src="<%= locals.bloginfo.blogImageURL %>" width="40%" alt="img" />
      <pre class="mt-3"><%= locals.bloginfo.blogbody %></pre>
    </div>
    <div class=" container mt-3">
      <img
        src="<%= locals.bloginfo.createdBy.profileImageURL %>"
        alt="img"
        width="50px"
      /><%= locals.bloginfo.createdBy.fullName %>
    </div>

    
    <div class="container mt-3">
      <h1>Comments (<%= commentInfo.length %>)</h1>
      <% if (locals.user) { %>
        <form action="/blog/comment/<%= locals.bloginfo._id %>" method="post">
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              name="commentBody"
              aria-describedby="emailHelp"
            />
          <button type="submit" class="btn btn-sm btn-primary">Submit</button>
        </form>
        <% } %>
        <% commentInfo.forEach(comment => { %>
          <div class="mt-3">
            <img src="<%= comment.commentedBy.profileImageURL %>" width="5%" alt="img" /><%= comment.commentedBy.fullName %>
            <pre class="mt-3"><%= comment.commentBody %></pre>
          </div>
          <% }) %>
      </div>

    <%- include('./partials/script') %>
  </body>
</html>
