<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Homepage</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container mt-3">
      <div class="row row-cols-3">
        <% locals.blogs.forEach(blog=>{ %>
        <div class="col" style="width: 18rem">
          <img src="<%= blog.blogImageURL %>" class="card-img-top" alt="blogimage" />
          <div class="card-body">
            <h5 class="card-title"><%= blog.blogtitle %></h5>
            <a href="blog/<%=blog._id%>" class="btn btn-primary mt-2">View</a>
          </div>
        </div>
        <% }) %>
      </div>
    </div>

    <%- include('./partials/script') %>
  </body>
</html>
